.bg-myColor{
  background-color: crimson;
}
.nav-design {
  /* align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row; */
  font-size: 30px;
  font-weight: bold;
  padding: 30px;
  margin: 30px;
}